<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="nav-bar">

        </div>

        <div id="app">
            <div class="container">
                <div class="product">

                        <div class="product__img">
                            <img v-bind:src="image" v-bind:alt="altImage">
                        </div>

                        <div class="product__info">
                            <h1>{{product}}</h1>
                            <p>{{description}}</p>

                            <a :href="underWearLink">supplier</a>

                            <p v-if="inventory > 10">In Stock</p>
                            <p v-else-if="inventory< 10 && inventory>0">Almost out of stock</p>
                            <p v-else>Out of stock</p>


                            <p v-if="onSale">ON SALE</p>

                            <p>Склад</p>
                            <ul>
                                <li v-for="storage in storages">{{storage}}</li>
                            </ul>

                            <div v-for="variant in variants" :key="variant.variantColor">
                                <p @mouseover="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                            </div>

                            <p>Доступні розміри</p>
                            <ul>
                                <li v-for="size in sizes">{{size}}</li>
                            </ul>

                            <button v-on:click="addToCart">Додати до кошика</button>
                            <button v-on:click="decreaseFromCart">Відняти товар з кошика</button>
                            <div class="cart">
                                <p>Кошик({{cart}})</p>
                            </div>

                        </div>

                </div>
            </div>
        </div>
    </div>

    <script src="Https://unpkg.com/vue"></script> <!--include Vue in our project-->
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

</body>
</html>